# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# 환경 변수
.env
.env.local
.env.*.local

# 빌드 결과물
dist/
build/

# 로그
logs/
*.log

# IDE/에디터 설정
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS 관련 파일
.DS_Store
Thumbs.db

# 테스트 결과
coverage/
*.lcov

# Git 자체 파일
.git/

# 기타
*.local